/* Inico conteiner-01*/
.conteiner-01 {
  background-color: black;
}
.logo-spotify {
  width: 150px;
}

.links-header {
  color: white;
}
/* Fim 



/*Inicio conteiner-02 */
.conteiner-02 {
  background-color: rgb(22, 117, 222);
}
/* Fim 

/* Inicio conteiner-05*/
.conteiner-05 {
  background-color: #efefef;
}
/* Fim 

/* Inicio conteiner-06*/
.conteiner-06 {
  background-color: black;
}
.instagram{
  color: white;
  font-size: 25px;
}
/* Fim 
