* {
  padding: 0px;
  margin: 0px;
}
header {
  background-color: black;
  display: flex;
  padding: 15px;
}
header div {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.menu {
  color: white;
  display: flex;
  list-style: none;
}
.menu li {
  margin-left: 15px;
}
.logo-Spotify {
  width: 150px;
}
